<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Product Directory</title>

	<!-- Favicon -->
	<link rel="apple-touch-icon" href="/images/logo/apple-touch-icon.html">
	<link rel="shortcut icon" href="/images/logo/favicon.png">

	<!-- core dependcies css -->
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/vendor/PACE/themes/blue/pace-theme-minimal.css">
	<link rel="stylesheet" href="/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">

	<!-- page css -->

	<!-- core css -->
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/themify-icons.css" rel="stylesheet">
	<link href="/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="/css/animate.min.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">
	<style type="text/css">
		/* Chart.js */
		@-webkit-keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}

			to {
				opacity: 1
			}
		}

		@keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}

			to {
				opacity: 1
			}
		}

		.chartjs-render-monitor {
			-webkit-animation: chartjs-render-animation 0.001s;
			animation: chartjs-render-animation 0.001s;
		}
	</style>
	<style type="text/css">
		.jqstooltip {
			position: absolute;
			left: 0px;
			top: 0px;
			visibility: hidden;
			background: rgb(0, 0, 0) transparent;
			background-color: rgba(0, 0, 0, 0.6);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
			color: white;
			font: 10px arial, san serif;
			text-align: left;
			white-space: nowrap;
			padding: 5px;
			border: 1px solid white;
			z-index: 10000;
		}

		.jqsfield {
			color: white;
			font: 10px arial, san serif;
			text-align: left;
		}
	</style>
</head>

<body>

	<div class="container">

		<h2>Product Directory</h3>
			<h3>Save Product</h4>

				<form th:action="@{/manager/products/save}" th:object="${product}" method="POST"
					enctype="multipart/form-data">
					<input type="text" th:field="*{code}" hidden>

					<div class="form-group">
						<label for="productName" class="control-label">Product Name</label>
						<input type="text" th:field="*{productName}" class="form-control" id="productName"
							placeholder="Product name">
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="cpuName" class="control-label">CPU Name</label>
							<input type="text" th:field="*{cpuName}" class="form-control" id="cpuName"
								placeholder="CPU Name">
						</div>
						<div class="form-group col-md-6">
							<label for="numberOfCore" class="control-label">Number Of Core</label>
							<input type="number" th:field="*{numberOfCore}" class="form-control" id="numberOfCore"
								placeholder="Number of Core">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="numberOfRam" class="control-label">Number Of Ram</label>
							<input type="number" th:field="*{numberOfRam}" class="form-control" id="numberOfRam"
								placeholder="Number Of Ram">
						</div>
						<div class="form-group col-md-6">
							<label for="sizeOfRam" class="control-label">Size Of Ram</label>
							<input type="number" th:field="*{sizeOfRam}" class="form-control" id="sizeOfRam"
								placeholder="Size Of Ram">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="diskName" class="control-label">Disk Name</label>
							<input type="text" th:field="*{diskName}" class="form-control" id="diskName"
								placeholder="Disk Name">
						</div>
						<div class="form-group col-md-6">
							<label for="diskSize" class="control-label">Disk Size</label>
							<input type="number" th:field="*{diskSize}" class="form-control" id="diskSize"
								placeholder="Disk Size">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="form-group">
								<label for="graphicCardName" class="control-label">Graphic Card Name</label>
								<input type="text" th:field="*{graphicCardName}" class="form-control"
									id="graphicCardName" placeholder="Graphic Card Name">
							</div>
							<div class="form-group">
								<label for="image" class="control-label">Image</label>
								<input type="file" class="form-control-file" id="image" name="image">
							</div>
						</div>

						<div class="form-group col-md-6">
							<img th:src="*{imageLink}" alt="" width="200" height="200">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="dateOfManufacture" class="control-label">Date Of Manufacture</label>
							<input type="date" th:field="*{dateOfManufacture}" class="form-control"
								id="dateOfManufacture" placeholder="Date Of Manufacture">
						</div>
						<div class="form-group col-md-6">
							<label for="screenSize" class="control-label">Screen Size</label>
							<input type="number" th:field="*{screenSize}" class="form-control" id="screenSize"
								placeholder="Screen Size">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="numberInInventory" class="control-label">Number In Inventory</label>
							<input type="number" th:field="*{numberInInventory}" class="form-control"
								id="numberInInventory" placeholder="Number In Inventory">
						</div>
						<div class="form-group col-md-6">
							<label for="standardPrice" class="control-label">Standard Price</label>
							<input type="number" th:field="*{standardPrice}" class="form-control" id="standardPrice"
								placeholder="Standard Price">
						</div>
					</div>

					<div class="form-group">
						<label for="description" class="control-label">Description</label>
						<textarea class="form-control" th:field="*{description}" id="description" rows="3"
							placeholder="Description"></textarea>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="pinSize" class="control-label">Pin Size</label>
							<input type="number" th:field="*{pinSize}" class="form-control" id="pinSize"
								placeholder="Pin Size">
						</div>
						<div class="form-group col-md-6">
							<label for="" class="control-label">Manufacturer</label>
							<select th:field="*{manufacturer.id}" class="form-control">
								<option value="0" disabled selected>Select a manufacturer</option>
								<option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}"
									th:text="${manufacturer.name}"></option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="" class="control-label">Type</label>
							<select th:field="*{type.id}" class="form-control">
								<option value="0" disabled selected>Select a type</option>
								<option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="origin" class="control-label">Origin</label>
							<select th:field="*{origin.id}" class="form-control" id="origin">
								<option value="0" disabled selected>Select a origin</option>
								<option th:each="origin : ${origins}" th:value="${origin.id}" th:text="${origin.name}">
								</option>
							</select>
						</div>
					</div>

					<button type="submit" class="btn btn-info col-2">Save</button>

				</form>

				<hr>
				<a th:href="@{/manager/products/list}">Back to Products List</a>

	</div>
</body>

</html>